html {
  font-size: 14px;
  height: 100%;
}
body {
  height: 100%;
}

.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content {
  flex: 1 0 auto;
}
.app-footer {
  flex: 0 0 auto;
}
.standard-form {
  max-width: 450px !important;
}

.form-header {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
}

.form-submit-button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

// Inline group error display fix
.b-form-group.form-group .input-group + .invalid-feedback {
  display: block;
}

// Main navbar update
.navbar-nav {
  & > li {
    & > a {
      text-transform: uppercase;
      font-size: 12px;
      height: 40px;
      display: flex;
      align-items: center;
    }
  }
}

// Scroll
.custom-scroll-1 {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
  }
}

// Button icons
// .i-remove-button {
//   background: url('../assets/paper_bucket.svg') no-repeat center;
//   background-size: 100%;
// }

// .i-info-button {
//   background: url('../assets/info_icon.svg') no-repeat center;
//   background-size: 100%;
// }

.book-container {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 128px);
}