html {
  font-size: 14px;
}
body {
}

.standard-form {
  max-width: 450px !important;
}

.form-header {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
}


.form-submit-button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

// Inline group error display fix
.b-form-group.form-group .input-group + .invalid-feedback {
  display: block;
}

// Scroll
.custom-scroll-1 {
  &::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
  }
}


