html {
  font-size: 14px;
}
body {
}

.standard-form {
  max-width: 450px !important;
}

.form-header {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
}


.form-submit-button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

// Inline group error display fix
.b-form-group.form-group .input-group + .invalid-feedback{
  display: block;
}